In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st

In [77]:
mouse_metadata_filepath = "data/Mouse_metadata.csv"
study_results_filepath = "data/Study_results.csv"

mouse_metadata = pd.read_csv(mouse_metadata_filepath)
study_results = pd.read_csv(study_results_filepath)
# mice_count = len(mouse_metadata["Mouse ID"].value_counts())
# mice_count

combined_study_data = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
combined_study_data.tail()
# mouse_metadata.tail()
# study_results.tail()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [78]:
number_of_mice = len(combined_study_data["Mouse ID"].value_counts())
number_of_mice
# combined_study_data.shape

249

In [79]:
duplicated_mice_id = combined_study_data[combined_study_data.duplicated(['Mouse ID', 'Timepoint'])]
duplicated_mice_id.tail()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [80]:
clean_combined_data = combined_study_data.drop_duplicates(subset=['Mouse ID', 'Timepoint'])
clean_combined_data.tail()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [81]:
number_of_mice = len(clean_combined_data["Mouse ID"].value_counts())
number_of_mice
# clean_combined_data.shape

249

In [104]:
Tumor_volume_1 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Capomulin', 'Tumor Volume (mm3)'].describe()
Tumor_volume_2 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Ceftamin', 'Tumor Volume (mm3)'].describe()
Tumor_volume_3 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Infubinol', 'Tumor Volume (mm3)'].describe()
Tumor_volume_4 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Ketapril', 'Tumor Volume (mm3)'].describe()
Tumor_volume_5 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Naftisol', 'Tumor Volume (mm3)'].describe()
Tumor_volume_6 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Placebo', 'Tumor Volume (mm3)'].describe()
Tumor_volume_7 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Propriva', 'Tumor Volume (mm3)'].describe()
Tumor_volume_8 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Ramicane', 'Tumor Volume (mm3)'].describe()
Tumor_volume_9 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Stelasyn', 'Tumor Volume (mm3)'].describe()
Tumor_volume_10 = clean_combined_data.loc[clean_combined_data['Drug Regimen'] == 'Zoniferol', 'Tumor Volume (mm3)'].describe()
Tumor_volume_mean
# tumor_volume

count    186.000000
mean      54.331565
std        8.134708
min       45.000000
25%       47.285874
50%       52.509285
75%       59.963034
max       76.668817
Name: Tumor Volume (mm3), dtype: float64

In [94]:
summary_stat = clean_combined_data.groupby(["Drug Regimen"])[["Tumor Volume (mm3)"]].describe()
# summary_stat = summary_stat.st
summary_stat

             Tumor Volume (mm3)                                             \
                          count       mean       std        min        25%
Drug Regimen
Capomulin                 230.0  40.675741  4.994774  23.343598  37.685933
Ceftamin                  178.0  52.591172  6.268188  45.000000  47.208427
Infubinol                 178.0  52.884795  6.567243  36.321346  47.312353
Ketapril                  188.0  55.235638  8.279709  45.000000  48.232987
Naftisol                  186.0  54.331565  8.134708  45.000000  47.285874
Placebo                   181.0  54.033581  7.821003  45.000000  47.459053
Propriva                  156.0  52.393463  6.568014  45.000000  47.046068
Ramicane                  228.0  40.216745  4.846308  22.050126  36.674635
Stelasyn                  181.0  54.233149  7.710419  45.000000  48.047139
Zoniferol                 182.0  53.236507  6.966589  45.000000  47.337876


                    50%        75%        max
Drug Regimen
Capomulin     41.557809  45.000000  48.158209
Ceftamin      51.776157  56.801438  68.923185
Infubinol     51.820584  57.314444  72.226731
Ketapril      53.698743  60.870951  78.567014
Naftisol      52.509285  59.963034  76.668817
Placebo       52.288934  59.916934  73.212939
Propriva      50.909965  56.491585  72.455421
Ramicane      40.673236  45.000000  47.622816
Stelasyn      52.431737  58.719297  75.123690
Zoniferol     51.818479  57.954259  73.324432